:root {
  --primary-color: #FF2AC3;
  --primary-dark-color: #ca1f9a;
  --secondary-color: #2D2F5E;
  --secondary-light-color: #37396D;
  --secondary-dark-color: #585858;
  --acent-color: #29D7CC;
  --acent-dark-color: #26bbb1;
  --white: #fff;
  --dialog-color: #B4B4B4;
}

.home .arrow {
  margin-top: 42%;
}
.home h1 {
  font-size: 25vw;
}
.home p {
  font-size: 2vw;
  margin-top: 12em;
}
.home .b-h1 {
  width: 38vw;
  height: 90vh;
}

header .nav {
  gap: 1em;
  font-size: 2vw;
}
header .nav h1 {
  width: 25%;
  height: 85px;
}
header .nav h1:hover {
  border-bottom: 10px solid var(--primary-color);
}

.container-header .logo {
  cursor: pointer;
}
.container-header .menu {
  margin-right: 3em;
  cursor: pointer;
}
.container-header .menu.close span:nth-child(2) {
  transform: rotate(-35deg) translate(-12px, 11px);
}

.swiper-pagination {
  width: 3%;
  left: 1%;
  padding-top: calc(1em + 34vw);
}
.swiper-pagination .swiper-pagination-bullet {
  padding: calc(0.4em + 0.4vw);
}

.title-section {
  margin-bottom: 2em;
  width: calc(0.5em + 40vw);
}

.about {
  grid-template-columns: 150px repeat(2, 1fr) 150px;
  grid-template-rows: 150px repeat(6, 1fr);
  justify-items: start;
}
.about .p-about {
  grid-column: 2/3;
  grid-row: 3/5;
}
.about .rrss {
  grid-row: 6/span 7;
  display: flex;
  gap: 1em;
  z-index: 4;
}
.about .card-profile {
  grid-column: 3/4;
  grid-row: 2/span 5;
  align-self: flex-start;
}
.about .card-profile .saludo {
  position: absolute;
  display: block;
  text-align: center;
  font-family: "Noto Sans Khmer";
  font-size: calc(0.7em + 1vw);
  color: var(--primary-color);
  z-index: 10;
  right: 35%;
  margin-top: 0.6em;
  overflow: hidden;
  border-right: 0.15em solid var(--acent-color);
  white-space: nowrap;
}
.about .card-profile .saludo span {
  color: var(--white);
  font-family: "Post No Bills Colombo Bold";
}
.about .card-profile .dialog {
  background-color: var(--dialog-color);
  width: 70%;
  height: 70px;
  padding: 0.4em;
  border-radius: 0.5em;
  margin-right: 100%;
}
.about .card-profile .dialog::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  margin: 60px 0 0 110px;
  border-top: 30px solid var(--dialog-color);
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
}
.about .card-profile .p-animation {
  -webkit-animation: typewriter 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
          animation: typewriter 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}
.about .card-profile .b-img {
  position: absolute;
  display: block;
  width: calc(6em + 28vw);
  height: calc(7em + 28vw);
  z-index: 0;
}
@-webkit-keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 15%;
  }
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 15%;
  }
}
@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: var(--acent-color);
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: var(--acent-color);
  }
}

.skills {
  grid-template-columns: 150px repeat(2, 1fr) 150px;
  grid-template-rows: 150px repeat(6, 1fr);
  justify-items: start;
}
.skills img {
  grid-column: 3/4;
  grid-row: 2/6;
  width: 84%;
  align-self: center;
  margin: 0;
}
.skills .p-skills {
  grid-column: 2/3;
  width: 80%;
}
.skills .interests {
  display: block;
  grid-column: 2/3;
  grid-row: 5/6;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1.3vw;
  font-family: "Noto Sans Khmer";
  background-color: #21B1A7;
  border-radius: 10px;
  padding: 3% 22% 3% 4%;
}
.skills .interests .p-interests {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.projects {
  grid-template-columns: 150px repeat(2, 1fr) 150px;
  grid-template-rows: 150px repeat(6, 1fr);
}
.projects .swiper-projects {
  grid-column: 2/4;
  grid-row: 3/5;
  margin-top: 6em;
  max-width: 350px;
  /* ARROWS */
}
.projects .swiper-projects .swiper-slide:nth-child(1):hover img {
  display: none;
}
.projects .swiper-projects .swiper-slide:nth-child(1):hover .project-01 {
  visibility: visible;
}
.projects .swiper-projects .swiper-slide:nth-child(1):hover .project-01 .buttons {
  left: calc(5em + 1vw);
}
.projects .swiper-projects .swiper-slide {
  min-height: 200px;
}
.projects .swiper-projects .swiper-button-next,
.projects .swiper-projects .swiper-button-prev {
  display: inline-block;
  border-radius: 0.5em;
  background-color: var(--acent-color);
  color: var(--white);
  top: 60%;
}
.projects .swiper-projects .swiper-button-prev {
  left: 6%;
  padding: 50px 40px 90px 20px;
}
.projects .swiper-projects .swiper-button-next {
  left: 90%;
  padding: 50px 40px 90px 20px;
}

.contact {
  grid-template-columns: 150px repeat(2, 1fr) 150px;
  grid-template-rows: 150px repeat(6, 1fr);
}
.contact .p-contact {
  grid-row: 3/4;
  width: 70%;
}
.contact form {
  width: 59%;
  grid-column: 3/4;
  grid-row: 3/7;
  gap: 0.5em;
  z-index: 4;
}
.contact form label {
  gap: 0.5em;
}
.contact form input.subject {
  height: 7vh;
}
.contact form input.email {
  height: 7vh;
}
.contact form input.name {
  height: 7vh;
}
.contact form .submit {
  height: 8vh;
  cursor: pointer;
}
.contact form .submit:hover {
  background-color: var(--primary-color);
}
.contact form .b-contact {
  position: absolute;
  display: block;
  width: calc(16em + 28vw);
  height: calc(7em + 28vw);
  margin-top: -10vw;
  margin-left: -5.3vw;
  z-index: -1;
}
.contact .credits {
  grid-column: 2/3;
  grid-row: 6/span 7;
  width: 70%;
}
.contact .credits span {
  width: 23vw;
}