:root {
  --primary-color:#FF2AC3;
  --primary-dark-color: #ca1f9a;
  --secondary-color:#454545;
  --secondary-light-color: #4D4D4D;
  --secondary-dark-color: #585858;
  --acent-color:#29D7CC;
  --white: #fff;
}

.home .arrow {
  margin-top: 35em;
}
.home h1 {
  font-size: 25vw;
}
.home p {
  font-size: 2vw;
  margin-top: 12em;
}
.home .b-h1 {
  width: 38vw;
  height: 90vh;
}

header .nav {
  gap: 1em;
  font-size: 2vw;
}
header .nav h1 {
  width: 25%;
  height: 85px;
}
header .nav h1:hover {
  border-bottom: 10px solid var(--primary-color);
}

.container-header .menu {
  margin-right: 3em;
}
.container-header .menu.close span:nth-child(2) {
  transform: rotate(-35deg) translate(-12px, 11px);
}

.swiper-pagination {
  width: 3%;
  left: 1%;
  margin-top: 19vw;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 1.5vw;
  height: 3vh;
}

.title-section {
  margin-bottom: 2em;
  width: calc(0.5em + 40vw);
}

.about {
  grid-template-columns: 150px repeat(2, 1fr) 200px;
  grid-template-rows: 150px repeat(6, 1fr);
  justify-items: start;
}
.about .p-about {
  grid-column: 2/3;
  grid-row: 3/5;
  width: 90%;
}
.about .card-profile {
  grid-column: 3/4;
  grid-row: 3/5;
  justify-self: center;
}
.about .card-profile .p-animation {
  display: inline;
  background-color: #B4B4B4;
  text-align: center;
  width: 70%;
  padding: 0.4em;
  border-radius: 0.5em;
  font-size: calc(0.7em + 1vw);
  color: var(--primary-color);
  z-index: 5;
  margin-right: 100%;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typewriter 1s steps(50) 1 normal both;
          animation: typewriter 1s steps(50) 1 normal both;
}
.about .card-profile .b-img {
  position: absolute;
  display: block;
  width: calc(6em + 28vw);
  height: calc(7em + 28vw);
  z-index: 0;
}
@-webkit-keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}

.skills {
  grid-template-columns: 150px repeat(2, 1fr) 150px;
  grid-template-rows: 150px repeat(6, 1fr);
  justify-items: start;
}
.skills img {
  grid-column: 3/4;
  grid-row: 2/6;
  width: 84%;
  align-self: center;
  margin: 0;
}
.skills .p-skills {
  grid-column: 2/3;
  width: 80%;
}
.skills .interests {
  display: block;
  grid-column: 2/3;
  grid-row: 5/6;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1.3vw;
  font-family: "Noto Sans Khmer";
  background-color: #21B1A7;
  border-radius: 10px;
  padding: 3% 22% 3% 4%;
}
.skills .interests .p-interests {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.projects {
  grid-template-columns: 150px repeat(2, 1fr) 150px;
  grid-template-rows: 150px repeat(6, 1fr);
}
.projects .swiper-projects {
  grid-column: 2/4;
  grid-row: 3/5;
  margin-top: 6em;
  max-width: 350px;
  /* ARROWS */
}
.projects .swiper-projects .swiper-slide {
  min-height: 200px;
}
.projects .swiper-projects .swiper-button-next,
.projects .swiper-projects .swiper-button-prev {
  display: inline-block;
  border-radius: 0.5em;
  background-color: var(--acent-color);
  color: var(--white);
  top: 60%;
}
.projects .swiper-projects .swiper-button-prev {
  left: 6%;
  padding: 50px 40px 90px 20px;
}
.projects .swiper-projects .swiper-button-next {
  left: 90%;
  padding: 50px 40px 90px 20px;
}

.contact {
  grid-template-columns: 150px repeat(2, 1fr) 150px;
  grid-template-rows: 150px repeat(6, 1fr);
}
.contact .p-contact {
  grid-row: 3/4;
  width: 70%;
}
.contact img {
  display: block;
  position: absolute;
  top: 16%;
  right: 10%;
  width: 45vw;
  height: 85vh;
  z-index: -1;
}
.contact form {
  width: 70%;
  grid-column: 3/4;
  grid-row: 3/7;
  gap: 0.8em;
  z-index: 4;
}
.contact form label {
  gap: 0.7em;
}
.contact form input.subject {
  height: 7vh;
}
.contact form input.email {
  height: 7vh;
}
.contact form input.name {
  height: 7vh;
}
.contact form .submit {
  height: 8vh;
}
.contact .credits {
  grid-column: 2/3;
  grid-row: 6/span 7;
  width: 70%;
}
.contact .credits span {
  width: 23vw;
}