:root {
  --primary-color:#FF2AC3;
  --primary-dark-color: #ca1f9a;
  --secondary-color:#454545;
  --secondary-light-color: #4D4D4D;
  --secondary-dark-color: #585858;
  --acent-color:#29D7CC;
  --white: #fff;
}

header {
  position: fixed;
  z-index: 2;
}
header .nav {
  visibility: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary-color);
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 5vw;
  padding-left: 2em;
  cursor: pointer;
}
header .nav h1 {
  width: 55%;
  height: 65px;
}
header .nav h1:hover {
  border-bottom: 5px solid var(--primary-color);
}
header .nav.show {
  visibility: visible;
}

.container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 55vw;
}
.container-header .logo {
  width: calc(3em + 6vw);
  margin-left: 1em;
  cursor: pointer;
}
.container-header .menu {
  display: flex;
  flex-direction: column;
  gap: calc(0.3em + 0.8vw);
  cursor: pointer;
  z-index: 4;
}
.container-header .menu span {
  transition: all 0.2s linear;
  transform-origin: 4px 0px;
  border-radius: 0.5rem;
  width: calc(2em + 3vw);
  height: calc(0.2em + 0.1vw);
  background-color: var(--primary-color);
}
.container-header .menu.close span {
  opacity: 1;
  transform: rotate(35deg) translate(0px, 0px);
  background: var(--acent-color);
}
.container-header .menu.close span:nth-child(2) {
  transform: rotate(-35deg) translate(-5px, 8px);
}
.container-header .menu.close span:nth-child(3) {
  display: none;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-color: var(--secondary-color);
  text-align: center;
}
.home .arrow {
  position: absolute;
  width: calc(0.5em + 1vw);
  margin-top: 21em;
  -webkit-animation: arrow 0.5s 2s infinite ease-out alternate;
          animation: arrow 0.5s 2s infinite ease-out alternate;
}
.home h1 {
  position: absolute;
  font-size: 49vw;
  font-family: "Post No Bills Colombo Bold";
  z-index: 3;
}
.home .h1-2 {
  margin-left: 0.1em;
  margin-top: 10px;
  color: var(--primary-color);
  -webkit-animation: neon 4s ease infinite;
          animation: neon 4s ease infinite;
}
.home p {
  position: absolute;
  margin-top: 11em;
  font-size: calc(0.9em + 1vw);
  font-family: "Post No Bills Colombo Light";
  letter-spacing: 0.2vw;
}
.home .b-h1 {
  width: 80vw;
  height: 59vh;
}
@-webkit-keyframes neon {
  0%, 100% {
    text-shadow: 0 0 1vw;
    color: var(--secondary-dark-color);
  }
  50% {
    text-shadow: 0 0 0.5vw;
    color: var(--primary-dark-color);
  }
}
@keyframes neon {
  0%, 100% {
    text-shadow: 0 0 1vw;
    color: var(--secondary-dark-color);
  }
  50% {
    text-shadow: 0 0 0.5vw;
    color: var(--primary-dark-color);
  }
}
@-webkit-keyframes arrow {
  from {
    transform: translateY(-1em);
  }
  to {
    transform: translateY(4);
  }
}
@keyframes arrow {
  from {
    transform: translateY(-1em);
  }
  to {
    transform: translateY(4);
  }
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 90px repeat(6, 1fr);
  justify-items: center;
  background-color: var(--secondary-light-color);
}
.about .p-about {
  grid-row: 4/6;
  grid-column: 1/3;
  width: 80%;
  font-size: calc(0.6em + 0.7vw);
  justify-self: center;
  margin-top: 3vw;
  height: 200px;
}
.about .card-profile {
  grid-column: 1/3;
  grid-row: 3/4;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.about .card-profile .saludo {
  display: none;
}
.about .card-profile .b-img {
  display: none;
}
.about .card-profile .p-animation {
  display: none;
  -webkit-animation-iteration-count: 0;
          animation-iteration-count: 0;
}
.about .card-profile .rrss {
  grid-column: 2;
  display: flex;
  gap: 1em;
  z-index: 4;
}
.about .card-profile img.git {
  width: calc(1.5em + 3vw);
  height: calc(1.5em + 3vw);
}
.about .card-profile img.lin {
  width: calc(1.5em + 3vw);
  height: calc(1.5em + 3vw);
}
.about .card-profile img {
  width: calc(5em + 17vw);
  height: calc(5em + 17vw);
  z-index: 5;
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 90px repeat(6, 1fr);
  justify-items: center;
  background-color: var(--secondary-color);
}
.skills img {
  grid-column: 1/3;
  grid-row: 4/5;
  width: 80%;
  justify-self: center;
  margin-top: 3em;
}
.skills .p-skills {
  grid-column: 1/3;
  grid-row: 3/5;
  width: 76%;
  font-size: calc(0.6em + 0.7vw);
}
.skills .interests {
  display: none;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 90px repeat(9, 1fr);
  justify-items: center;
  background-color: var(--secondary-light-color);
}
.projects .swiper-projects {
  grid-column: 1/3;
  grid-row: 4/6;
  max-width: 200px;
  overflow: visible;
}
.projects .swiper-projects .swiper-slide {
  min-height: 200px;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  transition: all 0.3s ease;
}
.projects .swiper-projects .swiper-slide.swiper-slide-active {
  color: var(--white);
  background-color: var(--primary-color);
  transform: scale(1.4);
  z-index: 2;
}
.projects .swiper-projects .swiper-button-next,
.projects .swiper-projects .swiper-button-prev {
  display: none;
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 90px repeat(6, 1fr);
  justify-items: center;
  background-color: var(--secondary-color);
}
.contact .p-contact {
  grid-column: 1/3;
  grid-row: 3;
  width: 75%;
  font-size: calc(0.6em + 0.7vw);
}
.contact img {
  display: none;
}
.contact form {
  width: 75%;
  grid-column: 1/3;
  grid-row: 4/5;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  z-index: 4;
}
.contact form label {
  display: flex;
  flex-direction: row;
  gap: 0.3em;
}
.contact form input::-moz-placeholder, .contact form textarea::-moz-placeholder {
  font-size: calc(0.9em + 0.2vw);
  font-family: "Noto Sans Khmer";
  color: rgb(191, 191, 191);
}
.contact form input:-ms-input-placeholder, .contact form textarea:-ms-input-placeholder {
  font-size: calc(0.9em + 0.2vw);
  font-family: "Noto Sans Khmer";
  color: rgb(191, 191, 191);
}
.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: calc(0.9em + 0.2vw);
  font-family: "Noto Sans Khmer";
  color: rgb(191, 191, 191);
}
.contact form input.subject {
  width: 100%;
  height: 5vh;
}
.contact form input.email {
  width: 100%;
  height: 5vh;
}
.contact form input.name {
  width: 45%;
  height: 5vh;
}
.contact form input,
.contact form textarea {
  font-size: calc(0.6em + 0.7vw);
  font-family: "Noto Sans Khmer";
  padding: 1em 1em 1em 1em;
  border-radius: 0.4em;
  border: 1.5px solid var(--acent-color);
}
.contact form .submit {
  border: 0;
  font-size: calc(0.6em + 0.6vw);
  color: var(--white);
  font-family: "Noto Sans Khmer";
  background-color: var(--acent-color);
  border-radius: 0.4em;
  width: 25%;
  height: 7vh;
  cursor: pointer;
}
.contact .credits {
  grid-column: 1/3;
  grid-row: 6;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: calc(0.5em + 0.5vw);
  align-self: center;
  width: 74%;
}
.contact .credits span {
  border-radius: 0.5em;
  width: 43vw;
  height: 0.5vh;
  background-color: var(--acent-color);
}

.swiper-pagination {
  width: 3%;
  left: 3%;
  margin-top: 65vw;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 3.5vw;
  height: 2vh;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  opacity: 1;
  background: rgba(255, 255, 255, 0.2);
}
.swiper-pagination.close {
  display: none;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  color: white;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: "Noto Sans Khmer Light";
}

main {
  width: 100%;
  height: 100%;
}

.home,
.about,
.skills,
.projects,
.contact {
  width: 100%;
  height: 100vh;
}

.title-section {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center;
  margin-bottom: 1em;
  width: 60%;
  display: flex;
  flex-direction: column;
}
.title-section h1 {
  font-size: calc(1.5em + 4vw);
}
.title-section .line {
  transform: translateX(-20em);
  background-color: #FF2AC3;
  height: calc(0.2em + 0.2vw);
  width: calc(2em + 8vw);
}
.title-section .line-animation {
  -webkit-animation: transicion 1s normal both;
          animation: transicion 1s normal both;
}
@-webkit-keyframes transicion {
  from {
    transform: translateX(-20em);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes transicion {
  from {
    transform: translateX(-20em);
  }
  to {
    transform: translateX(0);
  }
}

/* @include conf.mobile{

    //Home
    .home{
        .b-h1 {
            width: 80vw;
            height: 59vh;
          }

        h1{font-size: 49vw;}
        p{margin-top: 11em;}
        .arrow{margin-top: 21em;}
    }
    //Header
    header {

        .nav{    
            gap: 0em;
            font-size: 5vw;

            h1{
                width: 55%;
                height: 65px;
                &:hover{
                    border-bottom: 5px solid conf.$primary-color;

                }
            }
        }
    }
    .container-header{
        gap: 60vw; 

        .menu{

            &.close span:nth-child(2){
                transform: rotate(-35deg) translate(-5px, 8px);
            }

        }
    }

    //Pagination
    .swiper-pagination{

        left: 3%;
        margin-top: 72vw; 

        .swiper-pagination-bullet {

            width: 3.5vw;
            height: 2vh;

        }
    }

    .about{
        gap: 0.6em;

        .p-about{
            grid-row: 4 / 6;
            grid-column: 1 / 3;
            justify-self: center;
        }

        .card-profile{

            grid-column: 1 / 3;
            grid-row: 3 / 4;
            gap: 0.3em;


            .rrss{
                grid-column: 2;
                gap: 0.4em;

           }


           .b-img {display: none;}
            .p-animation{display: none; animation-iteration-count: 0;}
        }

    }

    .skills{
        .interests{display: none;}
        .p-skills{
            grid-column: 1 / 3;
            width: 76%;

        }

        img{
            grid-column: 1 / 3;
            grid-row: 4 / 5;
            margin-top: 12vw;
            justify-self: center;
        }

    }

    .projects{
        grid-template-rows: repeat(9,1fr);
        .swiper-projects {
            grid-column: 1 / 3;
            grid-row: 4 / 6;
            max-width: 200px;
            margin-top: 0;

            .swiper-slide {
                min-height: 200px;
            }

            .swiper-button-next, 
            .swiper-button-prev{
                display: none;
            }

        }

    }

    .contact{
        .p-contact {
            grid-column: 1 / 3;
            grid-row: 3;
            width: 75%;
            height: 80px;
        }

        img{
            display: none;
        }



        form {
            width: 75%;
            height: 90%;
            grid-column: 1 / 3;
            grid-row: 4 / 5;
            gap: 0.3em;

            align-self:initial;
            justify-self: initial;


            label {
                gap: 0.3em;
            }


            input.name, input.email,  input.subject{
                height: 5vh;

            }

        }

        .credits {
            grid-column: 1 / 3;
            grid-row: 5 / 6;
            font-size: 0.6em;
            align-self: center;
            width: 74%;
            span {width: 43vw; }
        }
    }
}

 */