.swiper-pagination {
  width: 3%;
  left: 1%;
  margin-top: calc(9em + 9vw);
}
.swiper-pagination .swiper-pagination-bullet {
  width: 1.5vw;
  height: 3vh;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  opacity: 1;
  background: rgba(255, 255, 255, 0.2);
}
.swiper-pagination.close {
  display: none;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background: #FF2AC3;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #454545;
  text-align: center;
}
.home img {
  position: absolute;
  width: calc(0.5em + 1vw);
  margin-top: calc(11em + 26vw);
  -webkit-animation: arrow 0.5s 2s infinite ease-out alternate;
          animation: arrow 0.5s 2s infinite ease-out alternate;
}
.home h1 {
  position: absolute;
  font-size: calc(5em + 18vw);
  font-family: "Post No Bills Colombo Bold";
  z-index: 3;
}
.home .h1-2 {
  margin-left: 0.1em;
  margin-top: 10px;
  color: #FF2AC3;
  -webkit-animation: neon 4s ease infinite;
          animation: neon 4s ease infinite;
}
.home p {
  position: absolute;
  margin-top: calc(8em + 8vw);
  font-size: calc(0.8em + 1vw);
  font-family: "Post No Bills Colombo Light";
  letter-spacing: 0.2vw;
}
.home .b-h1 {
  position: absolute;
  width: calc(20em + 70vw);
  height: 100vh;
  background-image: url(../img/b-h1.png);
  background-repeat: no-repeat;
  background-size: 38%;
  background-position: center;
}
@-webkit-keyframes neon {
  0%, 100% {
    text-shadow: 0 0 1vw;
    color: rgb(88, 88, 88);
  }
  50% {
    text-shadow: 0 0 0.5vw;
    color: #ca1f9a;
  }
}
@keyframes neon {
  0%, 100% {
    text-shadow: 0 0 1vw;
    color: rgb(88, 88, 88);
  }
  50% {
    text-shadow: 0 0 0.5vw;
    color: #ca1f9a;
  }
}
@-webkit-keyframes arrow {
  from {
    transform: translateY(-1em);
  }
  to {
    transform: translateY(4);
  }
}
@keyframes arrow {
  from {
    transform: translateY(-1em);
  }
  to {
    transform: translateY(4);
  }
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  background-color: #4D4D4D;
}
.about .p-about {
  grid-column: 1/2;
  grid-row: 3/5;
  width: 80%;
  font-size: calc(0.6em + 0.6vw);
  justify-self: end;
  margin-top: 3vw;
  height: 200px;
}
.about .card-profile {
  grid-column: 2/3;
  grid-row: 2/5;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.about .card-profile p {
  visibility: hidden;
}
.about .card-profile .p-animation {
  visibility: visible;
  background-color: #B4B4B4;
  text-align: center;
  width: 70%;
  padding: 0.4em;
  border-radius: 0.5em;
  font-size: calc(0.7em + 1vw);
  color: #FF2AC3;
  z-index: 5;
  margin-right: 100%;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typewriter 1s steps(50) 1 normal both;
          animation: typewriter 1s steps(50) 1 normal both;
}
.about .card-profile .rrss {
  display: flex;
  gap: 1em;
  z-index: 4;
}
.about .card-profile img.git {
  width: calc(1em + 3vw);
  height: calc(1em + 3vw);
}
.about .card-profile img.lin {
  width: calc(1em + 3vw);
  height: calc(1em + 3vw);
}
.about .card-profile img {
  width: calc(4em + 17vw);
  height: calc(4em + 17vw);
  z-index: 5;
}
.about .card-profile .b-img {
  position: absolute;
  width: calc(4em + 28vw);
  height: calc(4em + 30vw);
  z-index: 0;
}
@-webkit-keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  background-color: #454545;
}
.skills img {
  grid-column: 2/3;
  grid-row: 2/5;
  width: calc(1em + 35vw);
  justify-self: start;
}
.skills .p-skills {
  margin-top: 2vw;
  grid-column: 1/2;
  grid-row: 3/5;
  width: 60%;
  font-size: calc(0.6em + 0.6vw);
}
.skills .interests {
  grid-column: 1/2;
  grid-row: 4/5;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: calc(0.6em + 0.6vw);
  font-family: "Khmer";
  background-color: #21B1A7;
  border-radius: 10px;
  padding: 2% 20% 2% 5%;
}

.projects {
  background-color: #4D4D4D;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
}
.projects .swiper-projects {
  grid-column: 1/3;
  grid-row: 3/5;
  margin-top: 2em;
  margin-bottom: 2em;
  max-width: 400px;
  overflow: visible;
  /* ARROWS */
}
.projects .swiper-projects .swiper-slide {
  min-height: 180px;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  transition: all 0.3s ease;
}
.projects .swiper-projects .swiper-slide.swiper-slide-active {
  color: #fff;
  background-color: #FF2AC3;
  transform: scale(1.4);
  z-index: 2;
}
.projects .swiper-projects .swiper-button-next,
.projects .swiper-projects .swiper-button-prev {
  margin-top: 17%;
  margin-left: 38%;
  padding: 2em;
  border-radius: 0.5em;
  background-color: #29D7CC;
}
.projects .swiper-projects .swiper-button-prev {
  left: 6%;
  color: rgb(255, 255, 255);
}
.projects .swiper-projects .swiper-button-next {
  left: 14%;
  color: rgb(255, 255, 255);
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  background-color: #454545;
}
.contact .p-contact {
  grid-column: 1/2;
  grid-row: 3/5;
  width: 60%;
  height: 250px;
  margin-top: 2vw;
  font-size: calc(0.6em + 0.6vw);
}
.contact img {
  grid-column: 2/3;
  grid-row: 3/5;
  left: 50%;
  align-self: center;
  position: absolute;
  width: calc(5em + 43vw);
  height: calc(5em + 38vw);
  z-index: 0;
}
.contact form {
  width: 70%;
  grid-column: 2/3;
  grid-row: 3/5;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  z-index: 4;
  align-self: center;
  justify-self: center;
}
.contact form label {
  display: flex;
  flex-direction: row;
  gap: 0.7em;
}
.contact form input::-moz-placeholder, .contact form textarea::-moz-placeholder {
  font-size: 1.2em;
  font-family: "Khmer";
  color: rgb(191, 191, 191);
}
.contact form input:-ms-input-placeholder, .contact form textarea:-ms-input-placeholder {
  font-size: 1.2em;
  font-family: "Khmer";
  color: rgb(191, 191, 191);
}
.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: 1.2em;
  font-family: "Khmer";
  color: rgb(191, 191, 191);
}
.contact form input.name {
  width: 100%;
  height: 7vh;
}
.contact form input.email {
  width: 100%;
  height: 7vh;
}
.contact form input.subject {
  width: 100%;
  height: 7vh;
}
.contact form input,
.contact form textarea {
  font-size: 1em;
  font-family: "Khmer";
  padding: 1em 1em 1em 1em;
  border-radius: 0.4em;
  border: 1.5px solid #29D7CC;
}
.contact form button {
  border: 0;
  font-size: 1em;
  color: white;
  font-family: "Khmer";
  background-color: #29D7CC;
  border-radius: 0.4em;
  width: 25%;
  height: 5vh;
  cursor: pointer;
}
.contact .credits {
  grid-column: 1/2;
  grid-row: 5/6;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 0.8em;
  margin-left: -12%;
}
.contact .credits span {
  border-radius: 0.5em;
  width: 23vw;
  height: 0.5vh;
  background-color: #29D7CC;
}

header {
  position: fixed;
  z-index: 2;
}
header .nav {
  visibility: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #454545;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  font-size: 2vw;
  padding-left: 2em;
  cursor: pointer;
}
header .nav h1 {
  width: 25%;
  height: 85px;
}
header .nav h1:hover {
  border-bottom: 10px solid #FF2AC3;
}
header .nav.show {
  visibility: visible;
}

.container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80vw;
}
.container-header .logo {
  width: calc(2em + 6vw);
  margin-left: 1.5rem;
}
.container-header .menu {
  display: flex;
  flex-direction: column;
  gap: calc(0.3em + 0.8vw);
  cursor: pointer;
  z-index: 4;
}
.container-header .menu span {
  transition: all 0.2s linear;
  transform-origin: 4px 0px;
  border-radius: 0.5rem;
  width: calc(2em + 3vw);
  height: 0.7vh;
  background-color: #FF2AC3;
}
.container-header .menu.close span {
  opacity: 1;
  transform: rotate(35deg) translate(0px, 0px);
  background: #29D7CC;
}
.container-header .menu.close span:nth-child(2) {
  transform: rotate(-35deg) translate(-12px, 11px);
}
.container-header .menu.close span:nth-child(3) {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  color: white;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: "Khmer Light";
}

main {
  width: 100%;
  height: 100%;
}

.home,
.about,
.skills,
.projects,
.contact {
  width: 100%;
  height: 100vh;
}

.title-section {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center;
  width: 60%;
  display: flex;
  flex-direction: column;
}
.title-section h1 {
  font-size: calc(1em + 5vw);
}
.title-section .line {
  transform: translateX(-20em);
  background-color: #FF2AC3;
  height: calc(0.2em + 0.2vw);
  width: calc(2em + 8vw);
}
.title-section .line-animation {
  -webkit-animation: transicion 1s normal both;
          animation: transicion 1s normal both;
}
@-webkit-keyframes transicion {
  from {
    transform: translateX(-20em);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes transicion {
  from {
    transform: translateX(-20em);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 767px) {
  .container-header {
    gap: 60vw;
  }
  .swiper-pagination {
    left: 3%;
  }
  .swiper-pagination .swiper-pagination-bullet {
    width: 3vw;
    height: 2vh;
  }
  .about {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }
  .about .p-about {
    grid-row: 2/3;
    grid-column: 1/3;
    margin-left: 10%;
    margin-top: -40%;
  }
  .about .b-img {
    grid-column: 1/3;
    grid-row: 1/2;
    background-size: 35%;
    background-position: 38vw 20vw;
  }
  .about .card-profile {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-top: 35%;
  }
  .about .card-profile .rrss {
    margin-top: -23%;
    margin-left: 3%;
  }
  .about .card-profile img.git {
    margin-left: 10%;
  }
  .about .card-profile img.lin {
    margin-left: 2%;
  }
  .about .card-profile img {
    margin-left: 50%;
    margin-top: -25%;
  }
  .about .card-profile .salute p {
    margin-left: 34%;
  }
}