@font-face {
    font-family: 'Post No Bills Colombo Bold';
    src: url('../fonts/PostNoBillsColombo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Post No Bills Colombo Light';
    src: url('../fonts/PostNoBillsColombo-Light.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 100;
}

@font-face {
    font-family: 'Post No Bills Colombo ExtraBold';
    src: url('../fonts/PostNoBillsColombo-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Post No Bills Colombo Medium';
    src: url('../fonts/PostNoBillsColombo-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Post No Bills Colombo';
    src: url('../fonts/PostNoBillsColombo-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Post No Bills Colombo semiBold';
    src: url('../fonts/PostNoBillsColombo-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Khmer';
    src: url('../fonts/NotoSansKhmer-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Khmer Light';
    src: url('../fonts/NotoSansKhmer-Light.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 100;
}
