.swiper-pagination {
  width: 3%;
  left: 1%;
  margin-top: calc(9em + 9vw);
}
.swiper-pagination .swiper-pagination-bullet {
  width: 1.5vw;
  height: 3vh;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  opacity: 1;
  background: rgba(255, 255, 255, 0.2);
}
.swiper-pagination .swiper-pagination-bullet-active {
  background: #FF2AC3;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #454545;
  text-align: center;
}
.home img {
  position: absolute;
  width: calc(0.5em + 1vw);
  margin-top: calc(11em + 25vw);
}
.home h1 {
  font-size: calc(5em + 18vw);
  font-family: "Post No Bills Colombo Bold";
  text-shadow: 1vw 0.3rem 0px rgba(255, 42, 195, 0.7);
  z-index: 3;
}
.home p {
  position: absolute;
  margin-top: calc(8em + 8vw);
  font-size: calc(0.8em + 1vw);
  font-family: "Post No Bills Colombo Light";
  letter-spacing: 0.2vw;
}
.home .b-h1 {
  position: absolute;
  width: calc(20em + 70vw);
  height: 100vh;
  background-image: url(../img/b-h1.png);
  background-repeat: no-repeat;
  background-size: 38%;
  background-position: center;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  background-color: #4D4D4D;
}
.about .p-about {
  grid-column: 1/2;
  grid-row: 3/4;
  width: 80%;
  font-size: calc(0.6em + 0.6vw);
  justify-self: end;
  margin-top: 2vw;
}
.about .b-img {
  grid-column: 2/3;
  grid-row: 2/5;
  position: absolute;
  width: calc(20em + 70vw);
  height: 100vh;
  background-image: url(../img/b-img.png);
  background-repeat: no-repeat;
  background-size: 38%;
  background-position: 93%;
}
.about .card-profile {
  grid-column: 2/3;
  grid-row: 2/4;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.about .card-profile .rrss {
  display: flex;
  gap: 1em;
}
.about .card-profile img.git {
  width: calc(1em + 3vw);
  height: calc(1em + 3vw);
}
.about .card-profile img.lin {
  width: calc(1em + 3vw);
  height: calc(1em + 3vw);
}
.about .card-profile img {
  width: calc(4em + 17vw);
  height: calc(4em + 17vw);
  z-index: 5;
}
.about .card-profile p {
  background-color: #B4B4B4;
  text-align: center;
  width: 70%;
  padding: 4%;
  border-radius: 0.5em;
  font-size: calc(0.7em + 1vw);
  color: #FF2AC3;
  z-index: 5;
  margin-right: 100%;
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  background-color: #454545;
}
.skills img {
  grid-column: 2/3;
  grid-row: 2/5;
  width: 70%;
  justify-self: start;
}
.skills .p-skills {
  margin-top: 2vw;
  grid-column: 1/2;
  grid-row: 3/4;
  width: 60%;
  font-size: calc(0.6em + 0.6vw);
}
.skills .interests {
  grid-column: 1/2;
  grid-row: 4/5;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: calc(0.6em + 0.6vw);
  font-family: "Khmer";
  background-color: #21B1A7;
  border-radius: 13px;
  padding: 3% 20% 5% 5%;
}

.projects {
  background-color: #4D4D4D;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
}
.projects .swiper-projects {
  grid-column: 1/3;
  grid-row: 3/4;
  margin: 0 auto;
  max-width: 300px;
  margin-top: 7%;
  overflow: visible;
  /* ARROWS */
}
.projects .swiper-projects .swiper-slide {
  min-height: 180px;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  transition: all 0.3s ease;
}
.projects .swiper-projects .swiper-slide.swiper-slide-active {
  color: #fff;
  background-color: #FF2AC3;
  transform: scale(1.4);
  z-index: 2;
}
.projects .swiper-projects .swiper-button-next,
.projects .swiper-projects .swiper-button-prev {
  margin-top: 17%;
  margin-left: 38%;
  padding: 2em;
  border-radius: 0.5em;
  background-color: #29D7CC;
}
.projects .swiper-projects .swiper-button-prev {
  left: 6%;
  color: rgb(255, 255, 255);
}
.projects .swiper-projects .swiper-button-next {
  left: 14%;
  color: rgb(255, 255, 255);
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  background-color: #454545;
}
.contact .p-contact {
  grid-column: 1/2;
  grid-row: 3/4;
  width: 60%;
  margin-top: 2vw;
  font-size: calc(0.6em + 0.6vw);
}
.contact .b-contact {
  grid-column: 2/3;
  position: absolute;
  width: calc(20em + 70vw);
  height: 100vh;
  background-image: url(../img/b-form.png);
  background-repeat: no-repeat;
  background-size: 48%;
  background-position: right;
}
.contact form {
  width: 60%;
  grid-column: 2/3;
  grid-row: 3/5;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  z-index: 4;
}
.contact form label {
  display: flex;
  flex-direction: row;
  gap: 0.7em;
}
.contact form input::-moz-placeholder, .contact form textarea::-moz-placeholder {
  font-size: 1em;
  font-family: "Khmer";
}
.contact form input:-ms-input-placeholder, .contact form textarea:-ms-input-placeholder {
  font-size: 1em;
  font-family: "Khmer";
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 1em;
  font-family: "Khmer";
}
.contact form input.name {
  width: 100%;
  height: 6vh;
}
.contact form input.email {
  width: 100%;
  height: 6vh;
}
.contact form input.subject {
  width: 100%;
  height: 6vh;
}
.contact form input, .contact form textarea {
  font-size: 1em;
  font-family: "Khmer";
  padding: 1em 1em 1em 1em;
  border-radius: 0.4em;
  border: 1.5px solid #29D7CC;
}
.contact form button {
  border: 0;
  font-size: 1em;
  color: white;
  font-family: "Khmer";
  background-color: #29D7CC;
  border-radius: 0.4em;
  width: 25%;
  height: 8%;
}
.contact .credits {
  grid-column: 1/2;
  grid-row: 5/6;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 0.8em;
  margin-left: -12%;
}
.contact .credits span {
  border-radius: 0.5em;
  width: 23vw;
  height: 0.5vh;
  background-color: #29D7CC;
}

header {
  position: fixed;
  z-index: 2;
}

.container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80vw;
}
.container-header .logo {
  width: calc(2em + 6vw);
  margin-left: 1.5rem;
}
.container-header .menu {
  display: flex;
  flex-direction: column;
  gap: calc(0.3em + 0.8vw);
}
.container-header .menu span {
  border-radius: 0.5rem;
  width: calc(2em + 3vw);
  height: 0.7vh;
  background-color: #FF2AC3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  color: white;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: "Khmer Light";
}

main {
  width: 100%;
  height: 100%;
}

.home,
.about,
.skills,
.projects,
.contact {
  width: 100%;
  height: 100vh;
}

.title-section {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center;
  width: 60%;
  display: flex;
  flex-direction: column;
}
.title-section h1 {
  font-size: calc(1em + 5vw);
}
.title-section span {
  background-color: #FF2AC3;
  height: calc(0.2em + 0.2vw);
  width: calc(2em + 8vw);
}

@media (max-width: 767px) {
  .container-header {
    gap: 60vw;
  }
  .swiper-pagination {
    left: 3%;
  }
  .swiper-pagination .swiper-pagination-bullet {
    width: 3vw;
    height: 2vh;
  }
  .about {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }
  .about .p-about {
    grid-row: 2/3;
    grid-column: 1/3;
    margin-left: 10%;
    margin-top: -40%;
  }
  .about .b-img {
    grid-column: 1/3;
    grid-row: 1/2;
    background-size: 35%;
    background-position: 38vw 20vw;
  }
  .about .card-profile {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-top: 35%;
  }
  .about .card-profile .rrss {
    margin-top: -23%;
    margin-left: 3%;
  }
  .about .card-profile img.git {
    margin-left: 10%;
  }
  .about .card-profile img.lin {
    margin-left: 2%;
  }
  .about .card-profile img {
    margin-left: 50%;
    margin-top: -25%;
  }
  .about .card-profile .salute p {
    margin-left: 34%;
  }
}