:root {
  --primary-color: #FF2AC3;
  --primary-dark-color: #ca1f9a;
  --primary-active-color: #7b135d;
  --secondary-color: #2D2F5E;
  --secondary-light-color: #37396D;
  --secondary-dark-color: #585858;
  --acent-color: #29D7CC;
  --acent-hover-color: #21b0a6;
  --white: #fff;
  --dialog-color: #B4B4B4;
}

.about {
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 130px repeat(5, 1fr);
}

.skills {
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 130px repeat(7, 1fr);
}
.skills img {
  justify-self: start;
  width: 80%;
}

.projects {
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 130px repeat(7, 1fr);
}
.projects .swiper-projects .swiper-slide {
  min-height: 300px;
}

.contact {
  grid-template-columns: 100px repeat(2, 1fr);
  grid-template-rows: 130px repeat(6, 1fr);
}
.contact form {
  gap: 0.5em;
}
.contact form textarea {
  height: 10em;
}
.contact form label {
  gap: 0.5em;
}