@use "config" as conf;

.about {
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 15% repeat(6,1fr);
    justify-items: center;
    background-color: var(--secondary-light-color);


    .p-about{
        grid-row: 4 / 6;
        grid-column: 1 / 3;
        width: 80%;
        font-size: 3.5vw;
        justify-self: center;
        margin-top: 3vw;
        height: 200px;
    }

    .card-profile{
        grid-column: 1 / 3;
        grid-row: 3 / 4;      
        align-self: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;

        .saludo{
           display: none;
        }

        .p-animation{
            display: inline;
            background-color: #B4B4B4;
            text-align: center;
            width: 70%;
            padding: 0.4em;
            border-radius: 0.5em;
            font-size: calc(0.7em + 1vw);
            color: var(--primary-color);
            z-index: 5;
            margin-right: 100%;
            white-space: nowrap;
            overflow: hidden;
            animation: typewriter 1s steps(50) 1 normal both;
        }

        .b-img {display: none;}
        .p-animation{display: none; animation-iteration-count: 0;}
        
        .rrss{
            grid-column: 2;
            display: flex;
            gap: 1em;
            z-index: 4;
        }

        img.git{
            width: calc(1.5em + 3vw);
            height: calc(1.5em + 3vw);
        }

        img.lin{
            width: calc(1.5em + 3vw);
            height: calc(1.5em + 3vw);
        }

        img{
            width: calc(5em + 17vw);
            height: calc(5em + 17vw);
            z-index: 5;
        }

        .b-img {
            position: absolute;
            width: calc(6em + 28vw);
            height: calc(7em + 28vw);
            z-index: 0;
        }

        
    }

    @keyframes typewriter {
        from {
          width: 0;
        }
        
        to {
          width: 75%;
        }
      }

}



