@use "config" as conf;

.about {
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 90px repeat(6,1fr);
    justify-items: center;
    background-color: var(--secondary-light-color);


    .p-about{
        grid-row: 4 / 6;
        grid-column: 1 / 3;
        width: 80%;
        font-size: conf.fontSize(font-body);
        justify-self: center;
        margin-top: 3vw;
        height: 200px;
    }

    .card-profile{
        grid-column: 1 / 3;
        grid-row: 3 / 4;      
        align-self: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;

        .saludo{
           display: none;
        }

        .b-img {display: none;}
        .p-animation{display: none; animation-iteration-count: 0;}
        
        .rrss{
            grid-column: 2;
            display: flex;
            gap: 1em;
            z-index: 4;
        }

        img.git{
            width: calc(1.5em + 3vw);
            height: calc(1.5em + 3vw);
        }

        img.lin{
            width: calc(1.5em + 3vw);
            height: calc(1.5em + 3vw);
        }

        img{
            width: calc(5em + 17vw);
            height: calc(5em + 17vw);
            z-index: 5;
        }

        
    }

}



