@use "config" as conf;

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
    background-color: conf.$secundary-color;

    .p-contact {
        grid-column: 1 / 2;
        grid-row: 3 / 5;
        width: 60%;
        height: 250px;
        margin-top: 2vw;
        font-size: conf.fontSize(font-body);
    }

    img{
        grid-column: 2 / 3;
        grid-row: 3 / 5;
        left: 50%;
        align-self: center;
        position: absolute;
        width: calc(12em + 36vw);
        height: calc(10em + 35vw);
        z-index: 0;
    }


    form {
        width: 70%;
        grid-column: 2 / 3;
        grid-row: 3 / 5;
        display: flex;
        flex-direction: column;
        gap: 0.7em;
        z-index: 4;
        align-self: center;
        justify-self: center;

        label {
            display: flex;
            flex-direction: row;
            gap: 0.7em;
        }

        input::placeholder,
        textarea::placeholder {
            font-size: calc(0.8em + 0.5vw);
            font-family: conf.fontFamily(khmer);
            color:rgb(191, 191, 191);
        }

        input.name, input.email,  input.subject{
            width: 100%;
            height: 7vh;

        }

        input,
        textarea {
            font-size: conf.fontSize(font-body);
            font-family: conf.fontFamily(khmer);
            padding: 1em 1em 1em 1em;
            border-radius: 0.4em;
            border: 1.5px solid conf.$acento-color;
        }

        button {
            border: 0;
            font-size: calc(0.6em + 0.6vw);
            color: white;
            font-family: conf.fontFamily(khmer);
            background-color: conf.$acento-color;
            border-radius: 0.4em;
            width: 25%;
            height: 5vh;
            cursor: pointer;
        }
    }


    .credits {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        justify-self: center;
        display: flex;
        flex-direction: column;
        gap: 1em;
        font-size: calc(0.6em + 0.5vw);
      
        width: 60%;

        span {
            border-radius: 0.5em;
            width: 23vw;
            height: 0.5vh;
            background-color: conf.$acento-color;
        }
    }
}