:root {
    --primary-color: #FF2AC3;
    --primary-dark-color: #ca1f9a;
    --primary-active-color: #7b135d;
    --secondary-color: #2D2F5E;
    --secondary-light-color: #37396D;
    --secondary-dark-color: #585858;
    --acent-color: #29D7CC;
    --acent-hover-color: #21b0a6;
    --white: #fff;
    --dialog-color: #B4B4B4;

}

$font-family: (
    colombo: "Post No Bills Colombo",
    colombo-light: "Post No Bills Colombo Light",
    colombo-bold: "Post No Bills Colombo Bold",
    khmer: "Noto Sans Khmer",
    khmer-light: "Noto Sans Khmer Light",
    khmer-semibold: "Noto Sans Khmer Semibold",
);

$font-size: (
    font-body: calc(0.7em + 0.8vw),

);


//Añadimos el mapa de fuentes
@function fontFamily($family-value) {
    @return map-get($font-family, $family-value );
}

@function fontSize($size-value) {
    @return map-get($font-size, $size-value );
}

@mixin flexbox-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flexbox-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin mobile {
    @media(max-width: 768px) {
        //cuando llega a 600px se quita 
        @content;
    }
}