@use "config" as conf;

.contact {
    display: grid;
    grid-template-columns: 45px repeat(2,1fr);
    grid-template-rows: 90px repeat(6, 1fr);
    background-color: var(--secondary-color);

    .p-contact {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        font-size: conf.fontSize(font-body);
    }

    img{
        display: none;
    }

    form {
      
        grid-column: 2;
        grid-row: 4 / 5;
        width: 75vw;
        display: flex;
        flex-direction: column;
        gap: 0.3em;
        z-index: 4;

        label {
            display: flex;
            flex-direction: row;
            gap: 0.3em;
        }

        input::placeholder,
        textarea::placeholder {
            font-size: calc(0.9em + 0.2vw);
            font-family: conf.fontFamily(khmer);
            color:rgb(191, 191, 191);
        }

        input.subject{
            width: 100%;
            height: 5vh;

        }

        input.email{
            width: 100%;
            height: 5vh;
        }
        
        input.name{
            width: 45%;
            height: 5vh;
        }

        input,
        textarea {
            font-size: conf.fontSize(font-body);
            font-family: conf.fontFamily(khmer);
            padding: 1em 1em 1em 1em;
            border-radius: 0.4em;
            border: 1.5px solid var(--acent-color);
        }

        .submit {
            border: 0;
            font-size: calc(0.6em + 0.6vw);
            color: var(--white);
            font-family: conf.fontFamily(khmer);
            background-color: var(--acent-color);
            border-radius: 0.4em;
            width: 25%;
            height: 7vh;
            cursor: pointer;
        }
    }


    .credits {
        grid-column: 2;
        grid-row: 6;
        display: flex;
        flex-direction: column;
        gap: 1em;
        font-size: calc(0.5em + 0.5vw);
        align-self: center;
        width: 75vw;

        span {
            border-radius: 0.5em;
            width: 43vw;
            height: 0.5vh;
            background-color: var(--acent-color);
        }
    }
}