

$primary-color: #FF2AC3;
$secundary-color:#454545;
$secundary-light-color: #4D4D4D;
$acento-color: #29D7CC;


$font-family:(
    colombo: "Post No Bills Colombo",
    colombo-light: "Post No Bills Colombo Light",
    colombo-bold: "Post No Bills Colombo Bold",
    khmer: "Khmer",
    khmer-light: "Khmer Light",
    khmer-semibold: "Khmer semiBold",
);

$font-size: (
    font-body: calc(0.8em + 0.6vw),

);


//Añadimos el mapa de fuentes
@function fontFamily($family-value){
    @return map-get($font-family, $family-value );
}

@function fontSize($size-value){
    @return map-get($font-size, $size-value );
}

@mixin flexbox-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flexbox-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin mobile{
    @media(max-width: 767px){
        @content;
    }
}