@use "config" as conf;

header {
    position: fixed;
    z-index: 2;
}

.container-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80vw;

    .logo{
        width: 8%;
        margin-left: 1.5rem;
    }
    
    .menu{
        
        display: flex;
        flex-direction: column;
        gap: 1rem;
    
        span{
            border-radius: 0.5rem;
            width: 5rem;
            height: 0.3rem;
            background-color: conf.$primary-color;
        }
    }
}
