@use "config" as conf;

header {
    position: fixed;
    z-index: 2;
}

.container-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80vw; //media queries

    .logo{
        width: calc(2em + 6vw);
        margin-left: 1.5rem;
    }
    
    .menu{
        
        display: flex;
        flex-direction: column;
        gap: calc(0.3em + 0.8vw);
    
        span{
            border-radius: 0.5rem;
            width: calc(2em + 3vw);
            height: 0.7vh;
            background-color: conf.$primary-color;
        }
    }
}
