
@use "config" as conf;

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--white);
    background-color: var(--secondary-color);
    text-align: center;

    
    .arrow{
        position: absolute;
        width: calc(0.5em + 1vw);
        margin-top: 21em;
        animation: arrow 0.5s 2s infinite ease-out alternate;
    }
  
    h1{
        position: absolute;
        font-size: 49vw;
        font-family: conf.fontFamily(colombo-bold);
        z-index: 3;
    }

    .h1-2{
        margin-left: 0.1em;
        margin-top: 10px;
        color: var(--primary-color);
        animation: neon 4s ease infinite;
    } 


    p{
        position: absolute;
        margin-top: 11em;
        font-size: calc(0.9em + 1vw);
        font-family: conf.fontFamily(colombo-light);
        letter-spacing: 0.2vw;
    }

    .b-h1 {
        width: 80vw;
        height: 59vh;
      }

    
      
      @keyframes neon {
        0%,
        100% {
          text-shadow: 0 0 1vw;
          color: var(--secondary-dark-color);
        }
        50% {
          text-shadow: 0 0 .5vw ;
          color: var(--primary-dark-color);
        }
      } 


      @keyframes arrow {
        from {
          transform: translateY(-1em);
        }
        
        to {
            transform: translateY(4);
        }
      } 


   
}