
@use "config" as conf;

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: conf.$secundary-color;
    text-align: center;

    img{
        position: absolute;
        width: calc(0.5em + 1vw);
        margin-top: calc(11em + 25vw);
    }

    h1{
        position: absolute;
        font-size: calc(5em + 18vw);
        font-family: conf.fontFamily(colombo-bold);
        //text-shadow: 1vw 0.3rem 0px rgba(255, 42, 195, 0.70);
        z-index: 3;
    }

    .h1-2{
        margin-left: 0.1em;
        margin-top: 10px;
        color: conf.$primary-color;
    }



    p{
        position: absolute;
        margin-top: calc(8em + 8vw);
        font-size: calc(0.8em + 1vw);
        font-family: conf.fontFamily(colombo-light);
        letter-spacing: 0.2vw;
    }

    .b-h1 {
        position: absolute;
        width: calc(20em + 70vw);
        height: 100vh;
        background-image: url(../img/b-h1.png);
        background-repeat: no-repeat;
        background-size: 38% ;
        background-position: center;
      }

       .h1-2 {
        animation: neon 4s  ease infinite;
       
      }
      
      @keyframes neon {
        0%,
        100% {
          text-shadow: 0 0 1vw white;
          color:rgb(88, 88, 88);
        }
        50% {
          text-shadow: 0 0 .5vw  conf.$primary-color;
          color: conf.$primary-color;
        }
      } 
}