@use "config" as conf;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: conf.fontFamily(khmer-light);
}


main {
    width: 100%;
    height: 100%;
}


.home,
.about,
.skills,
.projects,
.contact {
    width: 100%;
    height: 100vh;
   
}

.title-section{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: center;
    

    width: 60%;
    display: flex;
    flex-direction: column;

    h1{
        font-size: calc(1.5em + 4vw);

    }

   .line{
        
        transform: translateX(-20em);
        background-color: conf.$primary-color;
        height: calc(0.2em + 0.2vw);
        width: calc(2em + 8vw);
        
   } 

   .line-animation{
        animation: transicion 1s normal both;
   }
   
   @keyframes transicion {
    from {
        transform: translateX(-20em);
    }
    
    to {
        transform: translateX(0);
    }
  }

}


@include conf.mobile{

    //Home
    .home{
        .b-h1 {
        
            width: 76vw;
            height: 55vh;
          }
    }
    //Header
    .container-header{
        gap: 60vw; 

        .menu{

            &.close span:nth-child(2){
                transform: rotate(-35deg) translate(-5px, 8px);
            }
            
        }
    }

    //Pagination
    .swiper-pagination{

        left: 3%;
        margin-top: 72vw; 
        .swiper-pagination-bullet {
        
            width: 3.5vw;
            height: 2vh;
            
        }
    }

    .about{
        gap: 0.6em;
        
        .p-about{
            grid-row: 4 / 6;
            grid-column: 1 / 3;
            justify-self: center;
        }

        .card-profile{
           
            grid-column: 1 / 3;
            grid-row: 3 / 4;
            gap: 0.3em;
            
            
            .rrss{
                grid-column: 2;
                gap: 0.4em;
                justify-content: center;

           }


           .b-img {
                justify-self: end;
                left: 13%;
                top: 15vw;
            }
            .p-animation{display: none;}
        }
        
    }

    .skills{
        .interests{display: none;}
        .p-skills{
            grid-column: 1 / 3;
            width: 76%;
           
        }

        img{
            grid-column: 1 / 3;
            grid-row: 4 / 5;
            margin-top: 12vw;
            justify-self: center;
        }

    }
    
    .projects{

        .swiper-projects {
            grid-column: 1 / 3;
            grid-row: 4 / 6;
            max-width: 200px;
            margin-top: 0;

            .swiper-slide {
                min-height: 200px;
            }

            .swiper-button-next, 
            .swiper-button-prev{
                display: none;
            }
            
        }

    }

    .contact{
        .p-contact {
            grid-column: 1 / 3;
            grid-row: 3;
            width: 75%;
            height: 80px;
        }

        img{
            display: none;
        }
        


        form {
            width: 75%;
            height: 90%;
            grid-column: 1 / 3;
            grid-row: 4 / 5;
            gap: 0.3em;

            label {
                gap: 0.3em;
            }

            
            input.name, input.email,  input.subject{
                height: 5vh;
    
            }
            
        }

        .credits {
            grid-column: 1 / 3;
            grid-row: 5 / 6;
            font-size: 0.6em;
            align-self: center;
            span {width: 43vw; }
        }
    }
}














