@use "config" as conf;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    color: white;
    overflow-y: hidden;
    font-family: conf.fontFamily(khmer-light);
    letter-spacing: 0.035rem;
}


main {
    width: 100%;
    height: 100%;
}


.home,
.about,
.skills,
.projects,
.contact {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .title-section{
        display: flex;
        flex-direction: column;
        padding-top: 8rem;
        padding-left: 10rem;

        h1{
            font-size: 5vw;
        }

       span{
            background-color: conf.$primary-color;
            height: 0.4rem;
            width: 12rem;
       } 
    }
}
















