@use "config" as conf;


.swiper-pagination {
    display: none;
    width: 3%;
    left: 3%;
    //Pagination de swiper , solo se puede modificar de esta manera 
    padding-top: calc(12em + 80vw);

    .swiper-pagination-bullet {

        padding: calc(0.3em + 1vw);
        border-radius: 100%;
        text-align: center;
        line-height: 30px;
        opacity: 1;
        background: rgba(255, 255, 255, 0.2);
    }

    &.close {
        display: none;
    }

    .swiper-pagination-bullet-active {
        background: var(--primary-color);
    }

}