@use "config" as conf;

.swiper-pagination{

    width: 3%;
    left: 1%; 
    margin-top: calc(9em + 9vw); 
    
    .swiper-pagination-bullet {
        
        width: 1.5vw;
        height: 3vh;
        border-radius: 100%;
        text-align: center;
        line-height: 30px;
        opacity: 1;
        background: rgba(255, 255, 255, 0.2);
    }
    
    &.close{
        display: none;
    }
    .swiper-pagination-bullet-active {
        background: conf.$primary-color;
    }

}