@use "config" as conf;

.swiper-pagination{

    width: 3%;
    left: 3%;  
    margin-top: calc(4em + 40vw);

    .swiper-pagination-bullet {
        
        width: calc(0.5em + 1vw);
        height: 2vh;
        border-radius: 100%;
        text-align: center;
        line-height: 30px;
        opacity: 1;
        background: rgba(255, 255, 255, 0.2);
    }
    
    &.close{
        display: none;
    }
    .swiper-pagination-bullet-active {
        background: var(--primary-color);
    }

}