@use "config" as conf;

.skills {
    display: grid;
    grid-template-columns: 45px 1fr 45px;
    grid-template-rows: 90px repeat(6,1fr);
    background-color: var(--secondary-color);
    justify-items: center;

    img{
        grid-column: 2;
        grid-row: 4 / span 5;
        width: calc(0.5em + 70vw);
    }

    .p-skills{
        grid-column: 2;
        grid-row: 3 / 5;
        font-size: conf.fontSize(font-body);
    }

    .interests{display: none;}

}