@use "config" as conf;

.skills {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
    justify-items: center;
    background-color: conf.$secundary-color;

    img{
        grid-column: 2 / 3;
        grid-row: 2 / 5;
        width: calc(1em + 35vw);
        justify-self: start;
        
    }

    .p-skills{
        margin-top: 2vw;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        width: 60%;
        font-size: conf.fontSize(font-body);
        
    }

    .interests{
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: conf.fontSize(font-body);
        font-family: conf.fontFamily(khmer);
        background-color: #21B1A7;
        border-radius: 13px;
        padding: 3% 20% 5% 5%;
    }

    

}