@use "config" as conf;


//HOME
.home {

    .arrow {
        margin-top: 42%;
    }

    h1 {
        font-size: 25vw;
    }

    p {
        font-size: 2vw;
        margin-top: 12em;
    }

    .b-h1 {
        width: 38vw;
        height: 90vh;
    }
}

//HEADER
header {
    .nav {
        gap: 1em;
        font-size: 2vw;

        h1 {
            width: 25%;
            height: 85px;

            &:hover {
                border-bottom: 10px solid var(--primary-color);

            }
        }
    }
}

.container-header {
    .logo {
        cursor: pointer;
    }

    .menu {
        margin-right: 3em;
        cursor: pointer;

        &.close span:nth-child(2) {
            transform: rotate(-35deg) translate(-12px, 11px);
        }

    }
}

//PAGINATION
.swiper-pagination {
    display: block;
    width: 3%;
    left: 1%;
    padding-top: calc(1em + 34vw);

    .swiper-pagination-bullet {
        padding: calc(0.4em + 0.4vw);
    }
}

.title-section {
    margin-bottom: 2em;
    width: calc(0.5em + 40vw);

}

//ABOUT
.about {

    grid-template-columns: 150px repeat(2, 1fr) 150px;
    grid-template-rows: 150px repeat(6, 1fr);
    justify-items: start;

    .p-about {
        grid-column: 2 / 3;
        grid-row: 3 / 5;
    }

    .rrss {
        grid-row: 6 / span 7;
        display: flex;
        gap: 1em;
        z-index: 4;

    }

    .card-profile {
        grid-column: 3 / 4;
        grid-row: 2 / span 5;
        align-self: flex-start;

        .saludo {
            position: absolute;
            display: block;
            text-align: center;
            font-family: conf.fontFamily(khmer);
            font-size: calc(0.7em + 1vw);
            color: var(--primary-color);
            z-index: 10;
            right: 35%;
            margin-top: .6em;

            overflow: hidden;
            border-right: .15em solid var(--acent-color);
            white-space: nowrap;


            span {
                color: var(--white);
                font-family: conf.fontFamily(colombo-bold);
            }
        }

        .dialog {
            background-color: var(--dialog-color);
            width: 70%;
            height: 70px;
            padding: 0.4em;
            border-radius: 0.5em;
            margin-right: 100%;

        }

        .dialog::before {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            margin: 60px 0 0 110px;
            border-top: 30px solid var(--dialog-color);
            border-right: 30px solid transparent;
            border-left: 30px solid transparent;

        }

        .p-animation {

            animation: typewriter 3.5s steps(40, end), blink-caret .75s step-end infinite;
        }


        .b-img {
            position: absolute;
            display: block;
            width: calc(6em + 28vw);
            height: calc(7em + 28vw);
            z-index: 0;
        }

        @keyframes typewriter {
            from {
                width: 0;
            }

            to {
                width: 15%;
            }
        }


        @keyframes blink-caret {

            from,
            to {
                border-color: transparent;
            }

            50% {
                border-color: var(--acent-color);
            }
        }
    }
}

//SKILLS
.skills {
    grid-template-columns: 150px repeat(2, 1fr) 150px;
    grid-template-rows: 150px repeat(6, 1fr);
    justify-items: start;

    img {
        grid-column: 3 / 4;
        grid-row: 2 / 6;
        width: 84%;
        align-self: center;
        margin: 0;
    }

    .p-skills {
        grid-column: 2 / 3;
        width: 80%;
    }

    .interests {
        display: block;
        grid-column: 2 / 3;
        grid-row: 5 / 6;
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: 1.3vw;
        font-family: conf.fontFamily(khmer);
        background-color: #21B1A7;
        border-radius: 10px;
        padding: 3% 22% 3% 4%;

        .p-interests {
            display: flex;
            flex-direction: column;
            gap: 0.4em;
        }

    }

}


//PROJECTS
.projects {
    grid-template-columns: 150px repeat(2, 1fr) 150px;
    grid-template-rows: 150px repeat(6, 1fr);

    .swiper-projects {
        grid-column: 2 / 4;
        grid-row: 3 / 5;
        margin-top: 6em;
        max-width: 300px;


        .swiper-slide:nth-child(1):hover {
            img {
                display: none
            }

            .project-01 {
                visibility: visible;

                p {
                    font-size: 1rem;
                }

                .buttons {
                    left: calc(1.8em + 1vw);
                    
                    a {
                        font-size: 1rem;
                        &:hover {
                            background-color: var( --acent-hover-color);
                        }
                    }
                }
            }

        }

        .swiper-slide {
            min-height: 200px;
        }

        /* ARROWS */
        .swiper-button-next,
        .swiper-button-prev {
            display: inline-block;
            border-radius: 0.5em;
            background-color: var(--acent-color);
            color: var(--white);
            top: 60%;
            &:hover {
                background-color: var(--acent-hover-color);
            }
        }

        .swiper-button-prev {
            left: 6%;
            padding: 50px 40px 90px 20px;
        }

        .swiper-button-next {
            left: 90%;
            padding: 50px 40px 90px 20px;
        }


    }

}

//CONTACT
.contact {
    grid-template-columns: 150px repeat(2, 1fr) 150px;
    grid-template-rows: 150px repeat(6, 1fr);

    .p-contact {
        grid-row: 3 / 4;
        width: 75%;
    }

    form {
        width: 59%;
        grid-column: 3 / 4;
        grid-row: 3 / 7;
        gap: 0.5em;
        z-index: 4;

        label {
            gap: 0.5em;
        }


        input.subject {
            height: 7vh;

        }

        input.email {
            height: 7vh;
        }

        input.name {
            height: 7vh;
        }

        .submit {
            height: 8vh;
            cursor: pointer;
            width: 25%;
            &:hover {
                background-color: var(--acent-hover-color);
            }
        }

        .b-contact {
            position: absolute;
            display: block;
            width: calc(18em + 28vw);
            height: calc(7em + 28vw);
            margin-top: -10vw;
            margin-left: -5.3vw;
            z-index: -1;
        }
    }


    .credits {
        grid-column: 2 / 3;
        grid-row: 6 / span 7;

        width: 70%;

        span {
            width: 23vw;
        }
    }
}