@font-face {
    font-family: 'Noto Sans Khmer Bold';
    src: url('NotoSansKhmer-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Khmer';
    src: url('NotoSansKhmer-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Khmer Light';
    src: url('NotoSansKhmer-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Khmer Semibold';
    src: url('NotoSansKhmer-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Post No Bills Colombo Semibold';
    src: url('PostNoBillsColombo-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Post No Bills Colombo Extrabold';
    src: url('PostNoBillsColombo-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Post No Bills Colombo Medium';
    src: url('PostNoBillsColombo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Post No Bills Colombo Light';
    src: url('PostNoBillsColombo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Post No Bills Colombo';
    src: url('PostNoBillsColombo-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Post No Bills Colombo Bold';
    src: url('PostNoBillsColombo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

